body {
    width: 1300px;
    margin: auto;
    margin-top: 15px;
    font-size: 0.9em;
    font-family: 'Droid Sans',sans-serif;
    background-color: #322D2F;
    color: white;
}

header img {
    display: inline-block;
    margin-right: 3%;
}

header h2 {
    display: inline-block;
}

#logs {
    float: left;
    width: 73%;
    height: 450px;
    overflow-y: scroll;
    background-color: black;
    padding: 1% 1% 1% 1%;
    /*border: 1px dotted red !important*/
}

#logs p {
    font-size: 0.8em;
}

#raw {
    display: none;
}

#options {
    font-size: 0.8em;
}

#meta {
    padding-left: 2%;
    width: 23%;
    float: right;
    /*border: 1px dotted red !important*/
}

#meta p {
    font-size: 0.8em;
}

#meta fieldset {
    margin-top: 10px;
}

#meta > fieldset:first-child {
    margin-top: 0;
}

.clear:after {
    clear:both;
}