body {
    width: 1300px;
    margin: auto;
    margin-top: 15px;
    font-size: 0.9em;
    font-family: 'Droid Sans',sans-serif;
    background-color: #322D2F;
    color: white;
    overflow: hidden;
}

header img {
    display: inline-block;
    margin-right: 3%;
}

header h2 {
    display: inline-block;
}

#logs {
    float: left;
    width: 73%;
    padding: 1% 0 1% 1%;
}

#logs p {
    font-size: 0.8em;
}

#logs h3 {
    margin: 0;
}

#displayLog {
    overflow-y: scroll;
    height: 400px;
    background-color: black;
    padding: 1%;
}

#raw {
    display: none;
}

#options {
    font-size: 0.8em;
}

#meta {
    padding-left: 2%;
    width: 23%;
    float: right;
}

#meta p {
    font-size: 0.8em;
}

#meta fieldset {
    margin-top: 10px;
}

#meta > fieldset:first-child {
    margin-top: 0;
}

.clear:after {
    clear:both;
}