@(title: String, log: Log)

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/loader.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/log.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/loaderJs.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <h2>Babylon-control - crm supervision</h2>
    </header>

    <div>
        <section id="logs">
            <div id="options">
                <span><label for="decorate">log brut<label><input type="checkbox" id="decorate" /></span>
                <span><label for="error">erreurs<label><input type="checkbox" id="error" /><span>
            </div>

            <div id="displayLog" class="norm">
                <p id="raw">@log.entireContent</p>
                <p id="pretty">@log.prettyContent</p>
            </div>
        </section>

        <section id="meta">
            <fieldset>
                <legend>général</legend>
                <p>date : <b>@log.date</b></p>
                <p>durée du batch : <b>@log.duration s</b></p>
                <p>nombre de single event recupérés : <b>@log.retrieve</b></p>
                <p>nombre de single event renvoyés : <b>@log.callback</b></p>
            </fieldset>

            <fieldset>
                <legend><a href="#startAccount">comptes</a></legend>
                <p>nb à charger : <b>@log.accountDownloaded</b> - nego : <b>@log.negoAccountDownloaded</b></p>
                <p>nb de succès : <b>@log.accountUploaded</b> - nego : <b>@log.negoAccountUploaded</b></p>
            </fieldset>

            <fieldset>
                <legend><a href="#startContact">contacts</a></legend>
                <p>nb à charger : <b>@log.contactDownloaded</b> - nego : <b>@log.negoContactDownloaded</b></p>
                <p>nb de succès : <b>@log.contactUploaded</b> - nego : <b>@log.negoContactUploaded</b></p>
            </fieldset>

            <fieldset>
                <legend><a href="#startOpportunity">opportunités</a></legend>
                <p>nb à charger : <b>@log.opportunityDownloaded</b></p>
                <p>nb de succès : <b>@log.opportunityUploaded</b></p>
            </fieldset>

        </section>

        <div class="clear"></div>
    </div>

</body>
</html>